body {
  font-family: "Arial", "Meiryo", sans-serif;
}

.decoration {
  /* ここにCSSを書いていきます */
  font-size: 20px;
}

.skyblue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203);
}

:root {
  font-size: 16px; /* ルート要素のフォントサイズ　*/
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem; /* ルート要素の2倍 */
  letter-spacing: 1.2em;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid rgb(115, 115, 114);
}

body {
  text-align: center;
}

#basic p strong {
  font-weight: bold;
}
